*-no*
*.dat
*.bak
*.xcf
*.db
*.zip
*.tar
*.z
*.map
*.gz
*.sql
*.swf
*.log
*.xls
*.mpg
*.mpeg
*.mp3
*.mp4
*.exe
*.pdf
*.inc
*.fla
*.rar
*.upgrade
*.exe
*.txt
*.csv
*_todelete*
*.*~
*.jpg
*.png
*.bmp

nbproject
usbs/
logs/
app/user/photo3D/
app/user/photomobile/
app/user/photowall/
app/user/userimage/
app/user/userqr/
events/
phpmyadmin/
phpmyadminEU/
news/
news-no/
printPhoto/
.bash_history
.viminfo
test*.php
test*.html
app/owner/Repdc_collectionTest.php
DC_Cloud_Box/
logs-no/
.lesshst
.nano_history
app/sincroMotor/logPB
images/ownerIMG/
admin/
reports/
log/
.mysql_history
.python_history
.selected_editor
.ssh/
app/photobooth/offset.php
.idea/*
.vim/
uploads/
shop/comandes
vendor/*
API/facebook/smartprint/config/fb_config.php
smartprint/facebook
PB/
temp/

