.regOwner{
    border: 1px solid gray;
    background-color: #378CE8;
    color: white;
    cursor: pointer;
    text-shadow: 1px 1px black;
    font-size: 13pt;
    word-break: break-all;
    
    width: 450px;
    height: auto; 
}

#positional_div{
    width: 100%;
    height: 25px;
}

.imgListOwner{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    
    width: 215px;
    height: 225px;
}
.owner_img{
    width: 185px;
    height: 200px;
}
.misatge{
    margin-left: 9px; 
    color: red; 
    font-weight: bold;
}
.misatge2{
    margin-left: 9px; 
    color: red; 
    font-weight: bold;
}
.ban{
    display: block;
    width: 20%;
    margin-left: 137px;
    margin-top: -36px;
    border: 1px solid;
}
.ban_text{
    background-color: #70b76e;
    width: 113px;
    height: 26px;
    padding: 5px;
    color: white;
}
/*.contingut{
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    justify-content: space-around;
    
    -webkit-align-items: flex-start;
    -moz-align-items: flex-start;
    -ms-align-items: flex-start;
    align-items: flex-start;
    
    -webkit-align-content: space-around;
    -moz-align-content: space-around;
    -ms-align-content: space-around;
    align-content: space-around;

}*/

