<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>-</title>
</head>

<body>

<table width="100%" border="0" align="center"><tr><td></td><td width="900" valign="top">
  
  	<h2>Hi there!<br/>
	Check out the awesome photos you took at “name Restaurant”.
    </h2>
      <p align="center">
	<img src="#PHOTO#" alt="" style="display:block" border="0"/>
  	</p>
    <p>We invite you to come back and take new photos for FREE, and additionally we have offered this discount voucher for your next meal.</p>
    <p>
	<img src="#COUPON#" alt="" style="display:block" border="0"/>
  	</p>
    <p>Please consider the environment before printing this e-mail, you can show the coupon on your smartphone.<br/>
See you soon! :)
    </p>
    <p style="font-size: smaller;"><i>*This a sample custom email. Each Restaurant will be able to add their restaurant name, the text they want and their own cupons.</i></p>
</td><td></td></tr></table>



</body>
</html>
