#backgroundPopup
{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#034fa5;
	z-index:101;
}

#popup
{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	/*border:1px dotted #a3a3ae;*/
	/*background:#f4f4f4;*/
	z-index:103;	
}

#popupWait
{
	display:none;
	position:fixed;
	_position:absolute; /* hack for internet explorer 6*/
	border:1px dotted #a3a3ae;
	background:#f4f4f4;
	width:40px;
	height:40px;
	z-index:102;
	text-align:left;
	padding: 16px 0px 0px 16px;	
}

#popupClose
{
	width:39px;
	height:39px;
	background: url('https://www.myphotocode.com/assets/images/popup_close.png');
	cursor: pointer;
}