<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h1 style="text-align: center;">Myphotocode Statistics Report</h1>
    <table align="center">
        <tr>
            <td align="center" valign="top" colspan="2">
                <center>
                    <h3 style="text-align: center;">Events Count</h3>
                </center>
                <p>The counter of the events registered at the server grouped by time periods. </p>
                <br/>
            </td>
        </tr>
      <tr>
        <td align="center" valign="top">
          <center>
                #StatisticReportEvents#
                <br/>
          </center>
        </td>
      </tr>
    </table>
    
    <table align="center">
        <tr>
            <td align="center" valign="top" colspan="2">
                <center>
                    <h3 style="text-align: center;">Owners login count</h3>
                </center>
                <p>The counter of the owner logins grouped by location. </p>
                <br/>
            </td>
        </tr>
      <tr>
        <td align="center" valign="top">
          <center>
                #StatisticOwnerLogin#
                <br/>
          </center>
        </td>
      </tr>
    </table>
    
    <table align="center">
        <tr>
            <td align="center" valign="top">
                <center>
                    <h3 style="text-align: center;">Photo Files Uploaded</h3>
                </center>
                <p>The counter of the total of files uploaded into the server grouped by time periods.</p>
                <br/>
            </td>
        </tr>
      <tr>
        <td align="center" valign="top">
          <center>
                #StatisticPhotoFilesUpload#
                <br/>
          </center>
        </td>
      </tr>
    </table>
    
    <table align="center">
        <tr>
            <td align="center" valign="top">
                <center>
                    <h3 style="text-align: center;">Photos Uploaded</h3>
                </center>
                <p>The counter of the total of the photos uploaded into the server grouped by time periods. <br />This statistic also contains the percentage of photos uploaded who has been viewed by the users<br />This statistic does not represent the number of files uploaded to the server.</p>
                <br/>
            </td>
        </tr>
      <tr>
        <td align="center" valign="top">
          <center>
                #StatisticPhotoUpload#
                <br/>
          </center>
        </td>
      </tr>
    </table>
    
    <table align="center">
        <tr>
            <td align="center" valign="top">
                <center>
                    <h3 style="text-align: center;">Photos Viewed and Shared</h3>
                </center>
                <p>The counter of the total of the photos viewed by the users. <br />This statistic also contains the percentage of the photos viewed who had been shared.</p>
                <br/>
            </td>
        </tr>
      <tr>
        <td align="center" valign="top">
          <center>
                #StatisticSharePhotos#
                <br/>
          </center>
        </td>
      </tr>
    </table>
</body>
</html>