<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Event Manager</title>
<style>
body {background-color:#ffffff;
		align:center;}

div, p, a, li, td  { -webkit-text-size-adjust:none;}

</style>
</head>
<body>
<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td colspan="3"><img src="http://www.digital-centre.com/mails/event-manager/images/1.jpg" alt="" style="display:block" border="0"/></td>
  </tr>
  <tr>
	<td width="92">
		<img src="http://www.digital-centre.com/mails/event-manager/images/2a.jpg" alt="" style="display:block" border="0"/>
	</td>
    <td width="631" style="background-color:#072f5f;">
		<p style="font-family:Arial, Helvetica, sans-serif;font-size:30px;color:#ffffff;text-align:center;margin-top:0px;margin-bottom:0px;">HELLO <span style="font-weight:bold;">#INVITEDNAME#</span>!
		</p>
	</td>
    <td width="77">
		<img src="http://www.digital-centre.com/mails/event-manager/images/2c.jpg" alt="" style="display:block" border="0"/>
	</td>
  </tr>
  <tr>
    <td colspan="3"><img src="http://www.digital-centre.com/mails/event-manager/images/3.jpg" alt="" style="display:block" border="0"/></td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="center" >
			<tr>
				<td width="217">
					<img src="http://www.digital-centre.com/mails/event-manager/images/4a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="459">
					<a href="#URL#"><img src="http://www.digital-centre.com/mails/event-manager/images/4b.jpg" alt="" style="display:block" border="0"/></a>
				</td>
				<td width="124">
					<img src="http://www.digital-centre.com/mails/event-manager/images/4c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="center" >
			<tr>
				<td width="456">
					<img src="http://www.digital-centre.com/mails/event-manager/images/5a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="267" style="background-color:#ff7800;text-align:center;" valign="top">
					<p style="color:#ffffff;font-size:20px;margin-top:10px;margin-bottom:0px;margin-left:3px;">#SECURITYCODE#</p>
				</td>
				<td width="77">
					<img src="http://www.digital-centre.com/mails/event-manager/images/5c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3"><img src="http://www.digital-centre.com/mails/event-manager/images/6.jpg" alt="" style="display:block" border="0"/></td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="center" >
			<tr>
				<td width="217">
					<img src="http://www.digital-centre.com/mails/event-manager/images/7a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="506" style="background-color:#ffffff;">
					<p  style="font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:0px;">
					We know your event is important, and you want it be memorable and amazing. Now, you can easily customise the PhotoBooth unique to your event.
					</p>
				</td>
				<td width="77">
					<img src="http://www.digital-centre.com/mails/event-manager/images/7c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="left" >
			<tr>
				<td width="92">
					<img src="http://www.digital-centre.com/mails/event-manager/images/8a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="631" style="background-color:#ffffff;" valign="center">
					<p  style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:5px;">
					<span style="font-weight:bold;text-decoration:underline;">•	MUSIC:</span>  Upload any mp3 music file you chose and the PhotoBooth will play it as background music. (Maximum 5MB)</p>
					<p  style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:5px;">
					<span style="font-weight:bold;text-decoration:underline;">•	LOGO:</span>  Create a unique event logo and it will print as the fourth image of each photostrip.</p>
					<p  style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:5px;">
					<span style="font-weight:bold;text-decoration:underline;">•	CUSTOM SHOTS:</span> Upload custom shots that will appear on the screens when the PhotoBooth is not in use. A custom shot can be images, photos, logos, anything you choose.</p>
					<p  style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:5px;">
					<span style="font-weight:bold;text-decoration:underline;">•	WELCOME/BYE:</span> Create custom welcome and bye screens, to say hello and goodbye to your guests, every time they take a picture.</p>				
				</td>
				<td width="77">
					<img src="http://www.digital-centre.com/mails/event-manager/images/8c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3"><img src="http://www.digital-centre.com/mails/event-manager/images/9.jpg" alt="" style="display:block" border="0"/></td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="center" >
			<tr>
				<td width="217">
					<img src="http://www.digital-centre.com/mails/event-manager/images/10a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="506" style="background-color:#ffffff;">
					<p  style="font-family:Arial, Helvetica, sans-serif;font-weight:bold;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:0px;">
					The cloud is a virtual space where all the photos taken at your event will be saved. This space is also customizable and is the online location where your guests can view their digital photos. They can then share their photos on Facebook, Twitter, or send them via email. The cloud also allows you to collect email addresses of your guests, as well as offer them an opportunity to give you feedback about your event.
					</p>
				</td>
				<td width="77">
					<img src="http://www.digital-centre.com/mails/event-manager/images/10c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td width="92">
					<img src="http://www.digital-centre.com/mails/event-manager/images/11a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="631" style="background-color:#ffffff;" valign="center">
					<p  style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:5px;">
						<span style="font-weight:bold;text-decoration:underline;">•	BACKGROUND AND TITLE:</span> Upload a MyPhotoCode background and give your event a title, so that when your guests view their photos via MyPhotoCode the cloud is unique to your event.</br></br>
					</p>
					<p  style="font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#7c7c7c;text-align:justify;margin-left:10px;margin-right:10px;margin-top:10px;">
						<span style="font-weight:bold;text-decoration:underline;">•	EVENT QUESTIONS:</span> With this option, you can ask your guests questions or opinions about the event. This is a great marketing tool that allows you receive feedback and really get to know your customers.
					</p>
				</td>
				<td width="77">
					<img src="http://www.digital-centre.com/mails/event-manager/images/11c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3">
		<table width="800" border="0" cellpadding="0" cellspacing="0" align="center">
			<tr>
				<td width="217">
					<img src="http://www.digital-centre.com/mails/event-manager/images/12a.jpg" alt="" style="display:block" border="0"/>
				</td>
				<td width="363" style="background-color:#ffffff;" valign="center">
					<a href="http://www.digital-centre.com/mails/event-manager/cloud.html" target="_blank"><img src="http://www.digital-centre.com/mails/event-manager/images/12b.jpg" alt="" style="display:block" border="0" /></a>
				</td>
				<td width="220">
					<img src="http://www.digital-centre.com/mails/event-manager/images/12c.jpg" alt="" style="display:block" border="0"/>
				</td>
			</tr>
		</table>
	</td>
  </tr>
  <tr>
    <td colspan="3"><img src="http://www.digital-centre.com/mails/event-manager/images/13.jpg" alt="" style="display:block" border="0"/></td>
  </tr>
  
  
  <tr>
	<td colspan="3">
		<table width="800" border="0" align="center" style="background-color:#ffffff;">
			<tr>
				<th width="205" align="left" valign="top" scope="col">
					<p style="color:#262626;font-size:11.5px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;text-align: center;"><br/><span style="font-size:17px;font-weight:bold;">EUROPE</span><br />Digital Centre<br />
                    P.I. St. Isidre, C/Puigmal, 20-22<br />
                    08272 St. Fruitos, BARCELONA<br />
                    Spain <span style="font-size:13px">+34.938.748.158<br />
                    <a href="mailto:info@dc-image.com">info@dc-image.com</a></span></p></th>
				<th width="205" align="left" valign="top" scope="col">
					<p style="color:#262626;font-size:11.5px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;text-align: center;">
					<br/><span style="font-size:17px;font-weight:bold;">AMERICA</span><br />Digital Centre America Inc.<br />
                    13651 SW 143<span style="vertical-align:super">rd</span> CT Unit #105<br />
                    33186 Miami, FL.<br />
                    USA <span style="font-size:13px">+1.305.387.5005<br />
                    <a href="mailto:sales@dc-image.com">sales@dc-image.com</a></span></p></th>
				<th width="398" align="center" valign="top" scope="col"><p></p>
					<p>
						<span><a href="https://www.coin-op.org" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-amma.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="amma"/></a></span>
						<span><a href="https://www.iaapa.org" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-iaapa1.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="iaapa"/></a></span>
						<span><a href="https://www.amusementexpo.org" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-amoa.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="amoa"/></a></span>
						<span><a href="https://www.eagexpo.com" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-eag.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="eag expo"/></a></span>
					</p>
					<p style="color:#262626;font-size:11.5px;font-weight:normal;font-family:Arial, Helvetica, sans-serif;text-align: center;">Copyright 2014 Digital Centre.Terms of use. Privacy policy.
							Our products are protected by international patents.</p> 
				</th>
			</tr>
		</table>
	</td>
  </tr>
  
  
</table>


</body>
</html>