<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns='https://www.w3.org/1999/xhtml'>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
<title>-</title>
</head>
<body>
    <h1>DC PhotoBooth Report</h1>
    <p>
        <strong> 
            <span style='font-size:larger;background-color:#repdc_color#;'>#reportTypeName#</span><br/>
            From #startDate# to #endDate#
        </strong>
    </p>
    <table border='0' cellpadding='1' cellspacing='0' >
        <tr>
            <td style='padding-right:10px;'>Year:</td>
            <td>#year_number#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;'>Date:</td>
            <td> #now#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;'>Last Connection:</td>
            <td>#last_connection#</td>
        </tr>
    </table>
    <hr />
    <table border='0' cellpadding='1' cellspacing='0' >    
        <tr>
            <td style='padding-right:10px;font-weight: bold;'>Photobooth Name:</td>
            <td>#both_name#</td>
        </tr>
         <tr>
            <td style='padding-right:10px;font-weight: bold;'>Photobooth Location:</td>
            <td >#location#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;font-weight: bold;'>Photobooth s/n:</td>
            <td>#serialnumber#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;font-weight: bold;'>Photobooth ID:</td>
            <td>#idBooth#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;font-weight: bold;'>Code:</td>
            <td>#rand_string#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;'>Photoboorh Model:</td>
            <td>#booth_type#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;'>Owner:</td>
            <td>#owner_name#</td>
        </tr>
        <tr>
            <td style='padding-right:10px;'>Software Version:</td>
            <td >#version#</td>
        </tr>
    </table>
    <br/>
    <hr />
    #repdc_body#
    <hr />
    <p style='margin-bottom:0px;'>You received this email because your email address is registered as the owner of this PhotoBooth.</p>
    <ul style='margin-top:0px;'>
        <li>If you don&rsquo;t want to receive any more Reports please go to <a href="/index.php">MyPhotoCode.com</a>, and switch OFF the Report emails from this Photobooth.</li>
        <li>If you are not the owner, please contact <a href="mailto:system@dc-image.com">system@dc-image.com</a> to UNSUBSCRIBE for this service</li>
    </ul>
    <p>
        Report Made: #now#<br/>
        If you need any support, please contact the DC Team at <a href='mailto:system@dc-image.com'>system@dc-image.com</a><br/>
        Digital Centre &copy; All Rights reserved
    </p>
    <br/>
    <p>
        <U>DISCLAIMER:</U><br/>
        The information contained in this electronic message is privileged and/or confidential and is intended only for the use of the individual or entity named above. If you are not the intended recipient, or if you are responsible for delivering it to the intended recipient, you are hereby notified that any dissemination, distribution or copying of the communication is not authorized, allowed or intended by the sender. If you have received this communication in error, please immediately notify us by telephone at the above number and forward the original message to the sender above. Thank you.
    </p>
</body>
</html>