<html>
<head></head>
<body>
    <p>Dear #INVITEDNAME#!!!</p>
    <p>You have been invited to customize the event #TITLE#. You can start customizing  the event in three easy steps:</p>
    <ul>
    <li>REGISTER : <a href='#URL#'>Click Here and Register</a>  with the security code CODE <span style='color:green'>#SECURITYCODE#</span></li>
    <li>LOGIN : <a href='#LOGINURL#'>Click here www.MYPHOTOCODE.com</a> and login with your email and your new password</li>
    <li>START CUSTOMIZING!!</li>
    </ul>
    
    <p>Thanks for trusting us !</p> 
</body>
</html>