<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Digital Centre PhotoBooths</title>
</head>

<body>
<table width="600" border="0" align="left" cellspacing="0">
  <tr>
    <th width="600" height="109" align="left" valign="top" bgcolor="#013d8e" scope="col"><table width="600" border="0" cellspacing="0">
      <tr>
        <th width="199"  height="109" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com"><img src="http://www.digital-centre.com/images/mailing/logo.png" width="199" height="109" alt="logo" /></a></th>
        <th width="393" height="109" align="left" valign="top" scope="col"><table width="391" border="0" cellspacing="0">
          <tr>
            <th height="40" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/images/mailing/support.png" width="391" height="40" alt="Support Department" /></th>
          </tr>
          <tr>
            <td align="left" valign="top" height="24"><a href="http://www.digital-centre.com" style="border:none; text-decoration:none" target="_blank"><img src="http://www.digital-centre.com/images/mailing/web1.png" width="180" height="24" alt="Digital Centre web" border="0"/></a><a href="https://www.photoboothparts.com" style="border:none; text-decoration:none" target="_blank"><img src="http://www.digital-centre.com/images/mailing/web2.png" width="198" height="24" alt="Shop Online Web" border="0"/></a></td>
          </tr>
          <tr>
            <td align="left" valign="top" height="24"><img src="http://www.digital-centre.com/images/mailing/telf.png" width="391" height="31" alt="contact" /></td>
          </tr>
        </table></th>
      </tr>
    </table></th>
  </tr>
  <tr>
    <td align="left" valign="top" height="110"><a href="http://www.digital-centre.com/photobooths.html" style="border:none; text-decoration:none" target="_blank"><img src="http://www.digital-centre.com/images/mailing/head2.jpg" width="600" height="110" alt="PhotoBooths" border="0"/></a></td>
  </tr>
  <tr>
    <td height="30" align="left" valign="top" bgcolor="#c9e2f6" style="background-repeat:repeat-x">
	<table width="600" border="0" cellspacing="0">
      <tr>
        <th width="39" height="29" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/images/mailing/twitter.jpg" width="39" height="29" /></th>
        <th width="30" height="29" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/images/mailing/facebook.jpg" width="30" height="29" /></th>
		<th width="31" height="29" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/images/mailing/instagram.jpg" width="33" height="29" /></th>
        <th width="31" height="29" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/images/mailing/mail.jpg" width="31" height="29" /></th>
        <th width="33" height="29" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/images/mailing/youtube.jpg" width="33" height="29" /></th>
        <th align="left" valign="top" scope="col">&nbsp;</th>
        <th width="292" height="29" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/innovation.html" target="_blank"><img src="http://www.digital-centre.com/images/mailing/innovation.jpg" width="292" height="29" /></a></th>
      </tr>
    </table>
	</td>
  </tr>
  <tr>
    <td height="63" align="left" valign="top" style="background-repeat:repeat-x"><a href="http://www.digital-centre.com/manuals/DC-CATALOG.pdf" style="border:none; text-decoration:none" target="_blank"><img src="http://www.digital-centre.com/images/mailing/download.jpg" width="600" height="100" alt="Download Our Catalog" border="0"/></a></td>
  </tr>
</table>
</body>
</html>
