<html>
    <head>
    </head>
    <body>
        <h2>Company</h2>
        <p>Company Name : #companyName# </p>
        <p>Carrer : #address#</p>
        <p>Numero : #num# </p>
        <p>ZIP : #zip#</p>
        <p>City : #city#</p>
        <p>State : #state#</p>
        <p>Country : #country#</p>
        <br>
        <h2>Persona de  Contacte</h2>
        <p>#oName# #lastName#</p>
        <p>E-mail : #email#</p>
        <p>Phone : #phone# </p>
        <br>
        <h2>PhotoBooth</h2>
        <p>Model : #model#</p>
        <p>Serialnumber : #sn#</p>
        
        
    </body>
</html>
