<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="https://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Welcome pack - Digital Centre</title>
<style>
.text1{
	font-size:20px;
	color:#0c5680;
	font-weight:lighter;
	text-align: center;
}
	
.text2{
	font-size:24px;
	    font-family: 'PTSansNarrowBold';
	color:#0c5680;
	font-weight:bold;}	

.text3{
	color:#8d9193;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
}

.text3a{
	color:#8d9193;
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

.text3b{
	color:#8d9193;
	font-size:16px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
}

.text3c{
	color:#8d9193;
	font-size:14px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

.textb{
	color:#8d9193;
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

.text4{
	color:#8d9193;
	font-weight:bold;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	
.text5{
	color:#8d9193;
	font-size:13px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;}
	
.text6{
	font-size:18px;
	color:#0c5680;
	font-weight:lighter;
	text-align:center;}
	
.text31 {	color:#8d9193;
	font-size:18px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: justify;
	padding-left:20px;
	padding-right:20px;
}

.text20 {color:#ffffff;
		font-family:Verdana, Geneva, sans-serif; 
		font-size:16px;}

a{
	color:#FFFFFF;
}
a.email{
   color:#000000; 
   text-decoration:none;
}

.date {font-size:11px;
	color: #ffffff;
	font-family:Arial, Helvetica, sans-serif;
	padding-top:5px;
	padding-bottom:15px;
	padding-left:15px;}
	
h3 { color:#666666;font-family:Arial, Helvetica, sans-serif; padding-top:5px; }

</style>
</head>

<body>


<table width="959" border="0" align="center">
  
  <tr>
    <td width="953" align="center" valign="top" scope="col"><a href="http://digital-centre.com/welcome/newsletter-expression-qr-technology.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/s_1-4.jpg" width="950" height="477" alt="welcome" border="none"/></a></td>
  </tr>
  <tr>
    <td width="953" align="center" valign="top" bgcolor="#c9e2f6"><table width="875" border="0" cellspacing="0">
            <tr>
              <th width="155" align="left" valign="top" scope="col"><table width="140" border="0" align="left" cellspacing="0">
                <tr>
                  <th colspan="5" align="center" valign="top" scope="col"><h3 style="color:#666666;font-family:Arial, Helvetica, sans-serif; padding-top:5px; padding-left:15px; font-size:14px">FOLLOW US</h3></th>
                </tr>
                <tr>
                  <td width="52" align="right" valign="top"><a href=" https://www.facebook.com/digitalcentre" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/fix2/facebook.png" width="40" height="40" alt="facebook" border="0"/></a></td>
                  <td width="40" align="right" valign="top"><a href=" https://www.twitter.com/Photobooth_DC" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/fix2/twitter.png" width="40" height="40" alt="twitter" border="0"/></a></td>
                  <td width="52" align="left" valign="top"><a href=" https://www.youtube.com/digitalcentrepb" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/fix2/youtube.png" width="40" height="40" alt="youtube" border="0"/></a></td>
                    <td width="52" align="left" valign="top"><a href="https://plus.google.com/100559734270764090476/posts" target="_blank"><img src="http://www.digital-centre.com/welcome/img/googleplus.png" width="40" height="40" border="none" alt="googleplus" /></a></td>
           <td width="52" align="left" valign="top"><a href="https://instagram.com/digital_centre" target="_blank"><img src="http://www.digital-centre.com/welcome/img/instagram.png" width="40" height="40" border="none" alt="instagram" /></a></td>
 </tr>
              </table></th>
              <th width="283" align="center" valign="top" scope="col"> <table width="268" border="0" cellspacing="0">
                <tr>
                  <th align="center" valign="top" scope="col"><h3 class="title">Subscribe to the Newsletter</h3>
                  </th>
                </tr>
                <tr>
                  <td align="center" valign="top"><a href="http://www.digital-centre.com/newsletters/subscribe/subscribe-news.html"><img src="http://www.digital-centre.com/newsletters/images/fix2/submit.png" width="150" height="37" alt="submit"  border="0"/></a></td>
                </tr>
              </table></th>
              <th width="160" align="center" valign="top" scope="col"> <table width="160" border="0" align="center" cellspacing="0">
                <tr>
                  <th width="158" align="center" valign="top" scope="col"><h3 class="title">Forward to a friend</h3></th>
                </tr>
                <tr>
                  <td align="center" valign="top"><a href=" http://www.digital-centre.com/dcnews/forward.php" target="_blank" ><img src="http://www.digital-centre.com/newsletters/images/fix2/send.png" alt="send" width="62" height="37" border="0" align="top"/></a></td>
                </tr>
              </table></th>
              <th width="203" align="right" valign="middle" scope="col"> <p class="link1"><a href="http://www.digital-centre.com" style="text-decoration:none; color:#03C; font-size:15px" target="_blank">www.digital-centre.com</a><br/>
                <a href="https://www.photoboothparts.com" style="text-decoration:none; color:#03C; font-size:15px" target="_blank">www.photoboothparts.com</a><br/>
                <a href="https://www.qrphotoplanet.com" style="text-decoration:none; color:#03C; font-size:15px" target="_blank">www.qrphotoplanet.com</a></p>
              </th>
            </tr>
            
          </table></td>
  </tr>
  <tr>
    <td width="953"></td>
  </tr>
  <tr>
    <td></td>
  </tr>
    <tr>
    <td align="left" valign="top"><table width="100%" border="3" bordercolor="#FF3300">
      <tr>
        <th valign="top" scope="col"><table width="100%" height="226" border="0">
      <tr>
        <th width="44%" height="222" align="center" valign="middle" scope="col"><table width="86%" border="0">
          <tr>
            <th align="center" valign="middle" bgcolor="#0099FF" scope="col"><table width="100%" border="0">
              <tr>
                <th width="7%" scope="col">&nbsp;</th>
                <th width="85%" scope="col">&nbsp;</th>
                <th width="8%" scope="col">&nbsp;</th>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:25px; text-align:center">USERNAME</h1></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td bgcolor="#D5EFF9"><h1 style="color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:20px; text-align:center;text-decoration:none;"><a href="#USERNAME#" class="email">#USERNAME#</a></h1></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:25px; text-align:center">PASSWORD</h1></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td bgcolor="#D5EFF9"><h1 style="color:#000000; font-family:Verdana, Geneva, sans-serif; font-size:20px; text-align:center">#PASSWORD#</h1></td>
                <td>&nbsp;</td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </table></th>
          </tr>
        </table></th>
        <th width="17%" align="center" valign="middle" scope="col"><img src="http://www.digital-centre.com/welcome/img/arrow.png" width="155" height="266" /></th>
        <th width="39%" align="left" valign="middle" scope="col"><table width="100%" border="0">
          <tr>
            <th height="56" align="left" valign="top" scope="col">&nbsp;</th>
          </tr>
          <tr>
            <td align="left" valign="top"><p class="textb"><span style="font-weight:bold;color:black;">#NAMECOMPANY#</span></p><p class="textb">Use this Username and Password to login in all Digital Centre websites and affiliates.</p>
             <p class="textb">This will give you access to:<br/><br/>
               <a href="https://www.myphotocode.com/login" title="MyPhotoCode.com" target="_blank" style="color:#8d9193">MyPhotoCode.com</a><br/>
               <a href="https://www.qrphotoplanet.com" title="PhotoBooths APP" target="_blank" style="color:#8d9193">PhotoBooths APP</a><br/>
               <a href="https://photoboothparts.com/prestashop/" title="PhotoBoothParts.com" target="_blank" style="color:#8d9193">PhotoBoothParts.com</a></p></td>
          </tr>
          <tr>
            <td align="left" valign="top">&nbsp;</td>
          </tr>
        </table></th>
      </tr>
    </table></th>
      </tr>
    </table></td>
  </tr>
  
  <tr>
    <th align="left" valign="top" scope="col"></th>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><p class="textb">Watch the Expression Software functionality in this video.</p></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="center" valign="top"><a href="http://www.digital-centre.com/videos/Welcome-Expression.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/video-expression.jpg" width="400" height="245" alt="video expression - scan QR code" border="none" /></a></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top"><p class="textb">Or visit <a href="http://www.digital-centre.com/videos/Welcome-Expression.html" target="_blank" style="color:#09F">www.digital-centre.com/videos/Welcome-Expression.html</a><br/>
    to access the video from any computer/tablet if you can't click on the image.</p></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td height="4" align="left" valign="top"></td>
  </tr>

  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="263" align="left" valign="top" bgcolor="#3b3a4b"><table width="953" height="251" border="0" class="text20">
      <tr>
<th width="256" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/qr-photo-technology.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1a.jpg" width="256" height="255" border="none" /></a></th>
        <th width="614" align="left" valign="top" scope="col"><table width="608" height="233" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top1.jpg" width="608" height="9" /></th>
          </tr>
          
          <tr>
            <td height="216" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">QR-PHOTO TECHNOLOGY<br/>
              Innovation, Technology, Instantaneous and Secure.</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">Digital Centre proudly offers our Exclusive and Unique QR-PHOTO Technology, a QR code to each print to get your photos Anytime, Anywhere from any Smartphone, or Print them again Anytime, Anywhere from any Digital Centre PhotoBooth.<br/><br/>Each code is unique and private to that user and sent to a virtual cloud.
</p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/qr-photo-technology.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="69" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="255" align="left" valign="top" bgcolor="#000000"><table width="950" height="261" border="0" class="text20">
      <tr>
<th width="256" height="257" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/cloud.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/2-1a.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="185" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top21.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="168" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">CLOUD</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">Cloud is a virtual space, Unique and Exclusive made for you, where all your customers will visit to retrieve their photos and video messages, post them on Facebook, Twitter, send to email.<br/><br/>
              When your customers scan the QR-Photo with their Smartphone, they can get their photo instantly from the cloud. You can customize the cloud with your logo, name, background and design, to look as your website. And capture all the emails for marketing purposes.
</p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/cloud.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="255" align="left" valign="top" bgcolor="#2757a9"><table width="950" height="261" border="0" class="text20">
      <tr>
<th width="256" height="257" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/qr-id.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1b.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="185" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top2.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="168" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">QR-ID<br/>Point your phone to the PhotoBooth camera and retrieve all of your archived photos.</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">QR-ID is an exclusive and personal QR code for each user. This unique code links all
your photos to you, and you to all Digital Centre PhotoBooths, ANYTIME, ANYWHERE!
Each user has their own personal unique QR-ID stored into their Smartphone.
</p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/qr-id.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="255" align="left" valign="top" bgcolor="#d1108d"><table width="950" height="261" border="0" class="text20">
      <tr>
<th width="256" height="257" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/share-secure.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1c.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="233" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top3.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="216" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">SHARE SECURE<br/>Protection from identity theft!</h1><p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">Do you worry about someone seeing your personal information and passwords?<br/><br/>
Digital Centre understands the importance of your privacy and, has created this exclusive feature to our customers and yours!<br/><br/>To learn more about Share Secure please visit:<br/><a href="http://www.digital-centre.com/welcome/share-secure.html" target="_blank">www.digital-centre.com/welcome/share-secure.html</a></p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none;"><a href="http://www.digital-centre.com/welcome/share-secure.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="277" align="left" valign="top" bgcolor="#8e8e8e"><table width="950" height="275" border="0" class="text20">
      <tr>
<th width="256" height="271" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/qr-photo-and-share-secure.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1d.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="38" border="0" class="text20">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top4.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="21" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">WHAT QR-PHOTO AND SHARE SECURE OFFERS TO</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;"><span style="text-decoration:underline; font-weight:bold; color:#FFF">· USERS / GUESTS:</span><br/>
              Security, Instantaneous, PhotoBooth Cloud.</p>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;"><span style="text-decoration:underline; font-weight:bold; color:#FFFFFF">· RENTAL / EVENT Planners:</span><br/>
              NO Wasting Time, No Complaints because of lost Photo's, NO lawsuits due to Identity Theft.</p><p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;"><span style="text-decoration:underline; font-weight:bold; color:#FFFFFF"> · COINOP:</span><br/>
             Improve the Income for Better ROI, Customers won´t waste time remembering and typing emails and passwords at the Photobooth.<br/>
             No complaints because of lost Photo's, NO lawsuits due Identity Theft.</p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none;"><a href="http://www.digital-centre.com/welcome/qr-photo-and-share-secure.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="255" align="left" valign="top" bgcolor="#23408e"><table width="949" height="261" border="0" class="text20">
      <tr>
<th width="256" height="257" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/myphotocode.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1g.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="280" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top7.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="263" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">MyPhotoCode.com</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">MyPhotoCode.com is a website where you can manage and customize your events with an easy assisted software. But also allows you to customize the Cloud, where all your customers will access to retrieve their Photos and videos, post them on Facebook, etc.<br/><br/>
             Login with your Unique and Exclusive Username and Password and create events, give it a title, upload a background and many more!</p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/myphotocode.html" target="_blank">Read more...</a></p>
              </td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="263" align="left" valign="top" bgcolor="#555658"><table width="950" height="261" border="0" class="text20">
      <tr>
<th width="256" height="257" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/photobooth-apps.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1h.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="239" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top8.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="222" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">APPS FOR iPhone AND iPad (Free)</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px;"><span style="font-size:18px; text-decoration:underline; font-weight:bold">MyPhotoCode APP (for USERS)</span><br/>
              This is the first social network application for PhotoBooths. Simply download the App to your Smartphone and begin sharing your fun photos with friends, family and the world of Digital Centre PhotoBooth users</p>
             <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px;"><span style="font-size:18px; text-decoration:underline; font-weight:bold">PhotoBooths APP (for OWNERS)</span><br/>
               Better than receiving a daily report by email, this APP will give you detailed information in Real Time.</p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/photobooth-apps.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="288" align="left" valign="top" bgcolor="#00adef"><table width="949" height="286" border="0" class="text20">
      <tr>
<th width="256" height="282" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/customizing-your-photo-booth.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1l.jpg" width="256" height="255" border="none" /></a></th>
        <th width="608" align="left" valign="top" scope="col"><table width="608" height="280" border="0">
          <tr>
            <th width="604" height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top12.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="263" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">CUSTOMIZING YOUR PHOTOBOOTH AND THE CLOUD</h1>
              <p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">The Most Advanced Customizing Options for your Company, gives you the Most Powerful Marketing Tools.<br/><br/>
              1 - Customize the PhotoBooth Decals.<br/>
              2 - Customize the Screens (Welcome, Good Bye,etc.)<br/>
              3 - Customize the Photos Printed<br/>
              4 - Customize the Music<br/>
              5 - Customize the Cloud (Background, name, etc.)<br/>
              6 - Capture all email addresses from the users for marketing purposes. <br/>
              7 - Add advertisements and promotions.<br/>
              8 - Display memory photos.<br/>
              9 - Send e-mails to customers.</p><p style="color:#AEEFFF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/customizing-your-photo-booth.html" target="_blank">Read more...</a></p></td>
          </tr>
        </table></th>
        <th width="72" align="left" valign="top" scope="col">&nbsp;</th>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="left" valign="top">&nbsp;</td>
  </tr>
  <tr>
    <td width="953" height="255" align="left" valign="top" bgcolor="#626365"><table width="882" height="261" border="0" class="text20">
      <tr>
<th width="256" height="257" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/photoboothparts.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/mail/1m.jpg" width="256" height="255" border="none" /></a></th>
        <th width="614" align="left" valign="top" scope="col"><table width="608" height="223" border="0">
          <tr>
            <th height="11" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/welcome/top13.jpg" width="608" height="9" /></th>
          </tr>
          <tr>
            <td height="206" align="left" valign="top"><h1 style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:20px;">Looking for Extra Accessories, Parts, Film? <h1>
			<p style="color:#ffffff; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: justify;">We have made it convenient for you to purchase at your leisure, Online!  Your order will be processed quickly allowing a speedy delivery to you.  Our online store is one of the many benefits of being a Digital Centre customer.<br/>
                <br/><br/>
                                            Please log onto <a href="https://photoboothparts.com/" target="_blank" >www.photoboothparts.com</a>
                                            </p><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: right; text-decoration:none"><a href="http://www.digital-centre.com/welcome/photoboothparts.html" target="_blank">Read more...</a></p>
                                        </td>
                                    </tr>
                                </table>
                            </th>
                            <th width="10" align="left" valign="top" scope="col">&nbsp;</th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><img src="http://www.digital-centre.com/welcome/img/img-line.jpg" width="950" height="30" alt="line" /></td>
            </tr>
            <tr>
                <td height="443" align="left" valign="top">
                    <table width="956" border="0">
                        <tr>
                            <th width="34" rowspan="4" align="left" valign="top" scope="col">&nbsp;</th>
                            <th width="273" align="center" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/better-income.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/welcome/BETTER-INCOME.jpg" width="273" height="178" border="none" /></a></th>
                            <th width="34" rowspan="4" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep.jpg" width="50" height="404" /></th>
                            <th width="275" align="center" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/marketing-tools.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/welcome/marketing-tools.jpg" width="273" height="178" border="none" /></a></th>
                            <th width="36" rowspan="4" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep.jpg" width="50" height="404" /></th>
                            <th width="276" align="center" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/support.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/welcome/support.jpg" width="273" height="178" border="none" /></a></th>
                            <th width="10" rowspan="4" align="left" valign="top" scope="col">&nbsp;</th>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="147" align="left" valign="top"><a href="http://www.digital-centre.com/welcome/better-income.html" title="better income" target="_blank" style="text-decoration:none"><p class="text1"><span class="text2">...with Multiple Payment Options</span></p>          <p class="text3b">When all Customers don't have Cash available, they can still use Photo Booth in different ways.</p></a></td>
                            <td align="left" valign="top"><a href="http://www.digital-centre.com/welcome/marketing-tools.html" title="marketing tools" target="_blank" style="text-decoration:none"><p class="text1"><span class="text2">Marketing Tools</span></p>          <p class="text3b">For the CoinOp locations that want to charge for taking photos, but also want to offer a free token as a marketing tool, No problem!</p></a></td>
                            <td align="left" valign="top"><a href="http://www.digital-centre.com/welcome/support.html" target="_blank" style="text-decoration:none"><p class="text1"><span class="text2">Support</span></p><p class="text3b">We understand you may have questions on how to work your new machine or have technical questions. We welcome you to contact us.</p></a></td>
                        </tr>
                        <tr>
                            <td height="39" align="left" valign="top"><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: center; text-decoration:none"><a href="http://www.digital-centre.com/welcome/better-income.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" /></a></p></td>
                            <td align="left" valign="top"><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: center; text-decoration:none"><a href="http://www.digital-centre.com/welcome/marketing-tools.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" /></a></p></td>
                            <td align="left" valign="top"><p style="color:#0CF; font-family:Verdana, Geneva, sans-serif; font-size:16px; text-align: center; text-decoration:none"><a href="http://www.digital-centre.com/welcome/support.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" /></a></td>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top"><table width="956" border="0">
                        <tr>
                            <!--<th width="34" rowspan="3" align="left" valign="top" scope="col">&nbsp;</th>-->
                            <th width="100" align="center" valign="top" scope="col"></th>
                            <!--<th width="273" align="center" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/13.png" width="273" height="178" alt="digital centre warranty" /></th>-->
                            <!--<th width="34" rowspan="3" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep.jpg" width="50" height="404" /></th>-->
                            <th width="275" align="center" valign="top" scope="col"><a href="https://www.myphotocode.com/" target="_blank"><img src="http://www.digital-centre.com/welcome/img/14.png" width="273" height="178" alt="digital centre film" /></a></th>
                            <th width="36" rowspan="3" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep.jpg" width="50" height="404" /></th>
                            <th width="276" align="center" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/film.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/15.png" width="273" height="178" alt="digital centre film" border="none" /></a></th>
                            <th width="75" rowspan="3" align="left" valign="top" scope="col">&nbsp;</th>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <!--<td height="247" align="left" valign="top"><p class="text1"><span class="text2">Warranty</span></p><p class="text3a">10 years on Film.<br/>2 years on PC (new products).<br/> 1 year on other components.</p></td>-->
                            <td height="100" align="left" valign="top"></td>
                            <td align="left" valign="top"><p class="text1"><span class="text2">Username &amp; Password</span></p>
                                <p class="text3b">Digital Centre offers  your very own private virtual cloud where you can create and manage your events online. Through myphotocode.com, you can create, edit, and customize your PhotoBooth and event.</p>

                                <p class="text6">&nbsp;</p>
                            </td>
                            <td align="left" valign="top"><a href="http://www.digital-centre.com/welcome/film.html" title="film" target="_blank" style="text-decoration:none"><p class="text1"><span class="text2">Film</span></p> <p class="text3b">We offer our Customers the best quality and prices on film. This allowing our customers more profitability with each useage, while still beating out the competition who charges double and more.</p></a></td>
                        </tr>
                    </table></td>
            </tr>
            <tr>
                <td align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top"><img src="http://www.digital-centre.com/welcome/img/img-line.jpg" width="950" height="30" alt="line" /></td>
            </tr>
            <tr>
                <td align="left" valign="top"><table width="950" border="0">
                        <tr>
                            <th width="216" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/details.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/16.png" width="215" height="122" alt="photo booth with wifi" border="0"/></a><br/>
                                <a href="http://www.digital-centre.com/welcome/details.html" target="_blank" style="text-decoration:none"><p class="text3b">Your Photo Booth with WiFi adapter.<br/>
                                        All our PhotoBooth are WiFi Available, just plug in the adapter and you ready to go!</p></a></th>
                            <th width="30" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep2.jpg" width="20" height="170" /></th>
                            <th width="215" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/welcome/details.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/19.png" width="215" height="122" alt="usb stick" border="0"/></a><br/>
                                <a href="http://www.digital-centre.com/welcome/details.html" target="_blank" style="text-decoration:none">
                                    <p class="text3b">Use your USB stick to customize.<br/>
                                        There are endless possibilities in customizing your photo booth, starting with wrapping the photo booth with your company logo, fun pictures, or amazing designs.</p></a></th>
                            <th width="30" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep2.jpg" width="20" height="170" /></th>
                            <th width="215" align="left" valign="top" scope="col"><a href="http://www.digital-centre.com/owners-manual-section.html" target="_blank"><img src="http://www.digital-centre.com/welcome/img/18.png" width="215" height="122" alt="manual digital centre photo booth" border="0"/></a><br/>
                                <a href="http://www.digital-centre.com/owners-manual-section.html" target="_blank" style="text-decoration:none"><p class="text3b">Download the manual of your photo booth in pdf format and familiarize yourself with your kiosk. Learn how it works and how to customize it.</p></a></th>
                            <th width="30" align="left" valign="top" scope="col"><img src="http://www.digital-centre.com/welcome/img/sep2.jpg" width="20" height="170" /></th>
                            <th width="184" align="left" valign="top" scope="col">
                                <a href="http://www.digital-centre.com/welcome/details.html#warning" target="_blank">
                                    <img src="http://www.digital-centre.com/welcome/img/17.png" width="215" height="122" alt="warning" border="0"/>
                                </a><br/>
                                <a href="http://www.digital-centre.com/welcome/details.html#warning" target="_blank" style="text-decoration:none">
                                    <p class="text3b">
                                        It is important that you pay attention to the warnings indicated for your kiosk.
                                    </p>
                                </a>
                            </th>
                        </tr>
                        <tr>
                            
                            <th align="center" valign="top" scope="col">
                                <a href="http://www.digital-centre.com/welcome/details.html" target="_blank">
                                    <img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" />
                                </a>
                            </th>

                            <th align="center" valign="top" scope="col">&nbsp;</th>
                            <th align="center" valign="top" scope="col">
                                <a href="http://www.digital-centre.com/welcome/details.html" target="_blank">
                                    <img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" />
                                </a>
                            </th>
                            <th align="center" valign="top" scope="col">&nbsp;</th>
                            <th align="center" valign="top" scope="col">
                                <a href="http://www.digital-centre.com/owners-manual-section.html" target="_blank">
                                    <img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" />
                                </a>
                            </th>
                            <th align="center" valign="top" scope="col">&nbsp;</th>
                            <th align="center" valign="top" scope="col">
                                <a href="http://www.digital-centre.com/welcome/details.html" target="_blank">
                                    <img src="http://www.digital-centre.com/welcome/img/more-info.jpg" width="70" height="31" alt="More Info" border="none" />
                                </a>
                            </th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top">&nbsp;</td>
            </tr>
            <tr>
                <td align="left" valign="top">
                    <table width="950" border="0" align="center" cellspacing="0" cellpadding="0">
                        <tr align="center">
                            <td width="100%" align="center"  scope="col" colspan=3>
                                    <a href="https://www.qrphotoplanet.com/share-secure.html" target="_blank"><img src="http://www.digital-centre.com/newsletter/images/buttons/button-share-secure3.png" alt="share-secure" title="Share Secure" width="109" height="40" border="none" /></a>
                                    <a href="http://www.digital-centre.com/qr-photo.html" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/QRphotoIcon.png" alt="qr-photo" title="QR-Photo" width="40" height="40" border="none" /></a>
                                    <a href="https://www.facebook.com/digitalcentre" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/facebook.png" alt="facebook" title="Facebook" width="40" height="40" border="none" /></a>
                                    <a href="https://twitter.com/photobooth_DC" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/twitter.png" alt="twitter" title="Twitter" width="40" height="40" border="none" /></a>
                                    <a href="https://youtube.com/digitalcentrepb" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/youtube.png" alt="youtube" title="YouTube" width="40" height="40" border="none" /></a>
                                    <a href="https://plus.google.com/100559734270764090476" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/googleplus.png" alt="googleplus" title="Google+" width="40" height="40" border="none" /></a>
                                    <a href="https://instagram.com/digital_centre" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/instagram.png" alt="instagram" title="Instagram" width="40" height="40" border="none" /></a>
                                    <a href="https://photoboothparts.com/" target="_blank"><img src="http://www.digital-centre.com/newsletters/images/0interest/pbpLong.png" width="100" height="40" alt="photoboothparts.com" title="Online Store" border="none" /></a>
                                    <hr style="background-color:#57c66;border-color:#57c66;">
                            </td>
                        </tr>
                        <tr>
                            <th width="205" align="left" valign="top" scope="col">
                                <p style="margin-top:0px;color:#8d9193;font-size:11px;font-weight:normal;font-family: Verdana,Arial,Helvetica,sans-serif;text-align: center;"><br/><span style="font-size:17px;font-weight:bold;color:#333;">EUROPE</span><br />Digital Centre<br />
                                Dr. Ferran, 27-29. Bufalvent<br />
                                08243, Manresa BARCELONA<br />
                                Spain <span style="font-size:13px">+34.938.748.158<br />
                                <a href="mailto:info@dc-image.com" style="color:#0066cc;">info@dc-image.com</a></span></p>
                            </th>

                            <th width="205" align="left" valign="top" scope="col">
                                <p style="margin-top: 0px;color:#8d9193;font-size:11px;font-weight:normal;font-family: Verdana,Arial,Helvetica,sans-serif;text-align: center;">
                                <br/><span style="font-size:17px;font-weight:bold;color:#333;">AMERICA</span><br />Digital Centre America Inc.<br />
                                13651 SW 143<span style="font-size:9px;">rd</span> CT Unit #105<br>
                                Miami, FL 33186<br />
                                USA <span style="font-size:13px">+1.305.387.5005<br />
                                <a href="mailto:sales@dc-image.com" style="color:#0066cc;">sales@dc-image.com</a></span></p>
                            </th>			
                            <th width="398" align="center" valign="top" scope="col">
                                <p style="margin-top:0px;">                                                                    
                                    <span><a href="https://www.coin-op.org" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-amma.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="amma"/></a></span>
                                    <span><a href="https://www.iaapa.org" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-iaapa1.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="iaapa"/></a></span>
                                    <span><a href="https://www.amusementexpo.org" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-amoa.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="amoa"/></a></span>
                                    <span><a href="https://www.eagexpo.com" target="_blank"><img src="http://www.digital-centre.com/images/footer/shows-eag.png" style="border: none" alt="PhotoBooth Digital Centre - Link" title="eag expo"/></a></span>
                                </p>
                                <p style="color:#8d9193;font-size:11px;font-weight:normal;font-family: Verdana,Arial,Helvetica,sans-serif;text-align: center;">Copyright 2017 Digital Centre.Terms of use. Privacy policy.
                                </br>Our products are protected by international patents.</p> 
                            </th>
                        </tr>
                    </table>
                </td>
            </tr>
            <tr>
                <td height="21" align="left" valign="top">&nbsp;</td>
            </tr>
        </table>
    </body>
</html>
